*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    display: bl;
}

.nav{
    border: 2px solid black;
   
    justify-content: space-between;
    width: 100%;
    display: flex;
    
}
.left,.mid,.right{
    border: 2px solid red;

}
.mid{
    display: flex;
    gap: 50px;
    align-items: center;
}
.left{
    display: flex;
}